*
!.gitignore
!Freg.pro
!*.cpp
!*.h
!*.ts
!*.vim
!*.md
!*.qrc
!*.qm
qrc_*.cpp

!blocks
blocks/*
!blocks/*.cpp
!blocks/*.h

!screens
screens/*
!screens/*.cpp
!screens/*.h
screens/3d_soft_screen/*
!screens/3d_soft_screen
!screens/3d_soft_screen/*.h
!screens/3d_soft_screen/*.cpp
screens/3d_soft_screen/psr/*
!screens/3d_soft_screen/psr
!screens/3d_soft_screen/psr/*.h
!screens/3d_soft_screen/psr/*.cpp

screens/math_lib/*
!screens/math_lib
!screens/math_lib/*.h
!screens/math_lib/*.cpp

!help_*
help_*/*
!help_*/*.md

!recipes
recipes/*
!recipes/*json

!texts
texts/*
!texts/*.txt

!debian
!debian/*
debian/*~
!debian/usr
debian/usr/*
!debian/usr/share
debian/usr/share/*
!debian/usr/share/doc
debian/usr/share/doc/*
!debian/usr/share/doc/freg
debian/usr/share/doc/freg/*
!debian/usr/share/doc/freg/copyright
!debian/source
debian/source/*
!debian/source/format
!debian/source/include-binaries
